.navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3e484a;
}

.navbar > .navbar-icon {
    display: flex;
    align-items: center;
}

.icon{
    margin: 0.2rem;
    font-size: 3rem;
    color: #1d7482;
}

.purple{
    border: 2px solid #1d7482;
    box-shadow: 0px 0px 10px #1d7482;
    background-color: #1d7482;
    border-radius: 20px;
    padding: .2rem;
}

.navbar > .nav-items > a {
    color: #ffffff;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}

.navbar > .nav-items > a:hover{
    opacity: 1;
}

.navbar > .nav-items > a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #1d7482;
    transition: all 0.45s;
}

.navbar > .nav-items > a:hover::before{
    width: 100%;
}

.navbar > .nav-toggle{
    display: none;
}

@media (max-width: 720px){
    .navbar > .nav-items{
        position: absolute;
        top: 70px;
        display: flex;
        flex-direction: column;
        background: #232222;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;
    }

    .icon{
        margin: 0.1rem;
        font-size: 3rem;
        color: #1d7482;
    }

    .navbar > .nav-items > a::before{
        background: transparent;
    }

    .navbar > .nav-items.open{
        transform: translateX(0);
        height: 1000px;
        position: absolute;
        z-index: 1;
    }

    .navbar > .nav-toggle{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-toggle > .bar{
        position: relative;
        width: 32px;
        height: 2px;
        background: #ffffff;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle > .bar::before , 
    .nav-toggle > .bar::after{
        content: "";
        position: absolute;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle > .bar::before{
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }

    .nav-toggle > .bar::after{
        width: 32px;
        transform: translateY(8px);
    }

    .nav-toggle.open > .bar{
        transform: translateX(-40px);
        background: transparent;
    }

    .nav-toggle.open > .bar::before{
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .nav-toggle.open > .bar::after{
        transform: rotate(-45deg) translate(26px, 26px);
    }


}